{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.14.2"}}},
  {cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "2.16.0"}}},
  {ranch,  {git, "https://github.com/ninenines/ranch.git",  {tag, "2.1.0"}}},
  {jsx,    "3.1.0"}
]}.
{relx, [
  {release, {module11_2, "0.1.0"}, [module11_2]},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}
]}.